
.alert{
  .btn{
    top:5px;
    right:5px;
  }
}

div.main{
  justify-content: center;


  .card {
    width: 250px;
    height: 300px;
    perspective: 30rem;

    &:hover {

      .card-img-overlay {
        display: inline-block !important;
      }

    }

    .front, .back {
      width: inherit;
      height: inherit;
      transition: transform 1s;
      backface-visibility: hidden;

      img {
        object-fit: cover;
        height: 250px;
      }

    }

    .front {
      transform: rotateY(180deg);
    }

  }

}
